.products__wrapper { 
    position: relative;
}
.products {
    text-align: center;
    padding: 20rem 0;
    position: relative;
    z-index: 2;
}
.products .container {
    position: relative;
}
.products__title {
    font-family: var(--title-font);
    font-size: 5rem;
}
.sub-title__box {
    position: relative;
    margin-bottom: 3rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.prod__title {
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: var(--title-font);
}
.success-message {
    background-color: var(--success);
    font-family: var(--title-font);
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 2rem;
    text-align: center;
}
.success-message > * {
    font-family: inherit;
    font-size: inherit;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}
.products .sub-title {
    margin-bottom: 0;
    padding-bottom: 2rem;
}
.products .item {
    margin-top: 5rem;
    position: relative;
}
.product__block {
    padding: 2rem;
    border-radius: 50%;
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}

.product__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
}

.product__img-box .img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 20rem;
    max-height: 20rem;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.product__text-box {
    margin-bottom: 1rem;
}
.product__name {
    font-size: 2rem;
    display: block;
}

.product__price {
    font-size: 2.3rem;
    display: block;
    font-family: var(--title-font);
}
.product__block .btn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.btn--first {
    margin-bottom: 1rem;
}




@media screen and (min-width: 1440px) { 
    .product__block .btn {
        width: 60%;
    }
    .products__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1rem;
    }
    .products .item {
        margin-top: 0;
    }

}



